<a href="https://colab.research.google.com/github/MalikJaanvi/prediction-using-ml/blob/main/salary_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('/content/decisiontree.csv')

In [38]:
df

      company                job degree  salary_more_than_100k
0       google   sales_executive      b                      0
1       google   sales_executive      m                      0
2       google  business_manager      b                      1
3       google  business_manager      m                      1
4       google        programmer      b                      0
5       google        programmer      m                      1
6   abc_pharma   sales_executive      m                      0
7   abc_pharma        programmer      b                      0
8   abc_pharma  business_manager      b                      0
9   abc_pharma  business_manager      m                      1
10    facebook   sales_executive      b                      1
11    facebook   sales_executive      m                      1
12    facebook  business_manager      b                      1
13    facebook  business_manager      m                      1
14    facebook        programmer      b                      1
15    facebook        programmer      m                      1

In [12]:
target = df['salary_more_than_100k']

In [13]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_than_100k, dtype: int64

In [14]:
input_n = df.drop('salary_more_than_100k',axis="columns")

In [15]:
input_n

      company                job degree
0       google   sales_executive      b
1       google   sales_executive      m
2       google  business_manager      b
3       google  business_manager      m
4       google        programmer      b
5       google        programmer      m
6   abc_pharma   sales_executive      m
7   abc_pharma        programmer      b
8   abc_pharma  business_manager      b
9   abc_pharma  business_manager      m
10    facebook   sales_executive      b
11    facebook   sales_executive      m
12    facebook  business_manager      b
13    facebook  business_manager      m
14    facebook        programmer      b
15    facebook        programmer      m

As we know, ml algo can only work with numeric data (not with label).
So need to convert our label data to numbers.

Here, We are going to use LabelEncoding from sklearn preprocessing.

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
l_company =  LabelEncoder()
l_job = LabelEncoder()
l_degree = LabelEncoder()

In [18]:
l_company

LabelEncoder()

In [19]:
input_n['company_n'] = l_company.fit_transform(input_n['company '])
input_n['job_n'] = l_job.fit_transform(input_n['job'])
input_n['degree_n'] = l_company.fit_transform(input_n['degree'])

In [20]:
input_n.head()

  company                job degree  company_n  job_n  degree_n
0   google   sales_executive      b          2      2         0
1   google   sales_executive      m          2      2         1
2   google  business_manager      b          2      0         0
3   google  business_manager      m          2      0         1
4   google        programmer      b          2      1         0

In [21]:
# input_n.drop('company ',axis=1)  --> we can do this but its not the efficient way.
# input_n.drop(['company ','job','degree'],axis=1)  --> this is temporary.
input_n = input_n.drop(['company ','job','degree'],axis=1)

In [22]:
input_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [23]:
from sklearn import tree

In [24]:
model = tree.DecisionTreeClassifier()

In [25]:
from sklearn.model_selection import train_test_split

In [42]:
X_train , X_test, y_train,y_test = train_test_split(input_n,target,test_size=0.2,random_state=10)

In [43]:
len(X_train)

12

In [44]:
X_train

    company_n  job_n  degree_n
6           0      2         1
8           0      0         0
10          1      2         0
2           2      0         0
11          1      2         1
12          1      0         0
15          1      1         1
1           2      2         1
0           2      2         0
4           2      1         0
13          1      0         1
9           0      0         1

In [45]:
X_test

    company_n  job_n  degree_n
5           2      1         1
3           2      0         1
14          1      1         0
7           0      1         0

In [47]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [48]:
model.predict(X_test)

array([0, 1, 1, 0])

In [51]:
model.score(X_test,y_test)

0.75

In [53]:
# model.fit(input_n,target) -->another way

DecisionTreeClassifier()

In [54]:
model.score(input_n,target) #as we are using original values

1.0

In [52]:
model.predict([[2,1,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])