<a href="https://colab.research.google.com/github/MalikJaanvi/prediction-using-ml/blob/main/titanic_survival_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
df = pd.read_csv('/content/train_and_test2.csv')

In [53]:
df.head(20)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
5,6,28.0,8.4583,0,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
6,7,54.0,51.8625,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
7,8,2.0,21.0750,0,3,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
8,9,27.0,11.1333,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
9,10,14.0,30.0708,1,1,0,0,0,0,0,...,0,0,0,2,0,0,0.0,0,0,1
10,11,4.0,16.7000,1,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
11,12,58.0,26.5500,1,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
12,13,20.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
13,14,39.0,31.2750,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
14,15,14.0,7.8542,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
15,16,55.0,16.0000,1,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,1
16,17,2.0,29.1250,0,4,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
17,18,28.0,13.0000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,1
18,19,31.0,18.0000,1,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
19,20,28.0,7.2250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,1

In [55]:
n_df = df.drop(['Embarked','Parch','sibsp','Passengerid','zero','zero.1','zero.2','zero.3','zero.4','zero.5','zero.6','zero.7','zero.8','zero.9','zero.10','zero.11','zero.12','zero.13','zero.14','zero.15','zero.16','zero.17','zero.18'],axis=1)

In [56]:
n_df.head()

    Age     Fare  Sex  Pclass  2urvived
0  22.0   7.2500    0       3         0
1  38.0  71.2833    1       1         1
2  26.0   7.9250    1       3         1
3  35.0  53.1000    1       1         1
4  35.0   8.0500    0       3         0

In [29]:
n_df.columns

Index(['Age', 'Fare', 'Sex', 'Pclass', '2urvived'], dtype='object')

In [32]:
target = n_df['2urvived']
target

0       0
1       1
2       1
3       1
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: 2urvived, Length: 1309, dtype: int64

In [33]:
n_df = n_df.drop('2urvived',axis="columns")

In [34]:
n_df

       Age      Fare  Sex  Pclass
0     22.0    7.2500    0       3
1     38.0   71.2833    1       1
2     26.0    7.9250    1       3
3     35.0   53.1000    1       1
4     35.0    8.0500    0       3
...    ...       ...  ...     ...
1304  28.0    8.0500    0       3
1305  39.0  108.9000    1       1
1306  38.5    7.2500    0       3
1307  28.0    8.0500    0       3
1308  28.0   22.3583    0       3

[1309 rows x 4 columns]

we don't have any null value in our dataset.

suppose we have null values in age column.

it's how we would be dealing:

n_df= n_df.age.fillna(n_dff.age.mean())

In [35]:
n_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     1309 non-null   float64
 1   Fare    1309 non-null   float64
 2   Sex     1309 non-null   int64
 3   Pclass  1309 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 41.0 KB

In [36]:
from sklearn import tree

In [37]:
model = tree.DecisionTreeClassifier()

In [38]:
model.fit(n_df,target)

DecisionTreeClassifier()

In [39]:
model.score(n_df,target) #high accuracy as we are working on original data

0.9686783804430863

In [40]:
model.predict([[38.0,71.2833,1,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])

Using train_test_split

In [41]:
from sklearn.model_selection import train_test_split

In [46]:
X_train,X_test,y_train,y_test = train_test_split(n_df,target,test_size=0.3,random_state=10)

In [47]:
len(X_train)

916

In [48]:
len(X_test)

393

In [50]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [51]:
model.predict(X_test)

array([0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0])

In [52]:
y_test

271     1
375     1
1243    0
145     0
1273    0
       ..
809     1
1214    0
822     0
550     1
280     0
Name: 2urvived, Length: 393, dtype: int64

In [54]:
model.score(X_test,y_test)

0.7430025445292621